.best{
    color: aliceblue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.best-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}

.best-left-photo img{
    width: 200px;
    transform: rotate( 260deg);
}
.best-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.best-heading{
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    
    letter-spacing: -.03em;
}
.best-heading-photo img{
    width: 300px;
}

.best-right-photo img{
    width: 200px;
    transform: rotate(180deg);
}


@media only screen and (max-width: 1050px) {
    .best-left{
        display: none;
    }
    .best-right{
        display: none;
    }
    .best-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .best-heading-photo img{
        width: 200px;
    }
}